<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pe.devpicon.android.marvelcomic">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.list.MainActivity">

        </activity>
        <activity android:theme="@style/AppThemeTransparent"
            android:name=".activities.detail.ComicDetailActivity"
            android:parentActivityName=".activities.list.MainActivity">
        </activity>
        <activity android:name=".activities.start.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.start.SignInActivity">
        </activity>



    </application>

</manifest>